.dashboard{
    background: linear-gradient(to right, #232b2b, black) no-repeat;
    height: 100vh;
}
img.profile_image{
    box-sizing: border-box;
    max-width: 400px;
    margin: 10px 20px;
    border-radius: 20px;
}